<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Video de YouTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Descargar Video de YouTube</h1>
        <form id="downloadForm" action="{{ url_for('download_video') }}" method="post">
            <input type="url" name="url" placeholder="Ingresa la URL del video" required>
            <button type="submit">Descargar</button>
        </form>
        <div class="progress-container">
            <div id="progress-bar" class="progress-bar"></div>
        </div>
        <p id="progress-text">Progreso: 0%</p>
    </div>

    <!-- Cargar el archivo JavaScript desde la carpeta estática -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>